<p>image-card works!</p>
<div class='imageCard'>
    
    <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRROt7YUKa7excpJt4CR59ZwHzhWDfV1mr0eQ&usqp=CAU'/>
    <div class='user-detail'>
        <p class="dept">Trento, IT</p>
        <h3 class="name">Simone Bernabe</h3>
        <p class="profile">developer</p>
        <p class="address">Address</p>
    </div>
</div>
<div class='buttons'>
    <button class="prev ">Previous</button>
    <button class="next"> Next</button>
</div>
<app-address-card></app-address-card>

